/*Responsywność START*/
@media all and (max-width : 1200px) {
    
}

@media all and (max-width : 768px){
    
/*Strat style menu nav*/
    
#main-nav  {
   background-color: #fff;   
   
}    

#main-nav ul li a {
    color: #1ac056;
}
    
#main-nav ul li a:hover  {
    color: #291f1a;
}


/*Koniec styli menu nav*/
    
/*Responsywność Portfolio section*/
    
    

@media all and (max-width : 680px) {
    
}
    
@media all and (max-width : 480px) {
    
}

/*Responsywnośc koniec*/